<div class="form-wrapper">
	<h2>Log in as a Maker</h2>

	<hr>

	<%= simple_form_for(:maker, :url => session_path(:maker)) do |f| %>
	  <div class="form-inputs">
	    <%= f.input :email, required: false, autofocus: true %>
	    <%= f.input :password, required: false %>
	    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Log in" %>
	  </div>
	<% end %>

	<%= render "makers/shared/links" %>
</div>
