<div class="modal fade" id="signin" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="form-wrapper">

        <h2 class="modal-title" id="myModalLabel">Sign in</h2>

        <br />

        <% resource = :user %>
        <% resource_name = :user %>
        <% devise_mapping = Devise.mappings[:user] %>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign in" %>
          </div>
        <% end %>

				<%- if devise_mapping.registerable? %>
				  <%= link_to "Sign up", "#signup", "data-toggle" => "modal", "data-dismiss" => "modal" %><br />
				<% end -%>

				<%- if devise_mapping.recoverable? %>
				  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
				<% end -%>

				<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
				  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
				<% end -%>

				<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
				  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
				<% end -%>

				<%- if devise_mapping.omniauthable? %>
				  <%- resource_class.omniauth_providers.each do |provider| %>
				    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
				  <% end -%>
				<% end -%>
      </div>
    </div>
  </div>
</div>