<div class="banner">
	<div class="prelaunch-heading">First access to incredible hardware products</div>
	<div class="small-subtitle white-text">Enter your email and get on our invite list</div>
	<div class="prelaunch-form-wrapper">

		<%= simple_form_for @prospect, html: { autocomplete: "off" } do |f| %>

			<div class="form-inputs">
				<%= f.input :email, label: false, placeholder: "Email" %>
			</div>

			<div class="form-actions">
		    <%= f.button :submit, "Get your invite now" %>
		  </div>
		<% end %>
	</div>
</div>
<div class="container-narrow">
	<div class="subtitle">How it works</div>
	<hr id="blue-hr">
	<div id="trapezoid-blue">
		<div class="trapezoid-title">Users</div>
	</div>
	<div class="landing-page-icons">
		<div id="blueguy1">
			<%= image_tag("blueguy1.png") %>
			1. Discover and buy new products
		</div>
		<div id="blueguy2">
			<%= image_tag("blueguy2.png") %>
			2. Receive and use the product
		</div>
		<div id="blueguy3">
			<%= image_tag("blueguy3.png") %>
			3. Provide feedback through Polymyr
		</div>
		<div id="blueguy4">
			<%= image_tag("blueguy4.png") %>
			4. Receive cash award
		</div>
	</div>
	<br />
	<hr id="yellow-hr">
	<div id="trapezoid-yellow">
		<div class="trapezoid-title">Makers</div>
	</div>
	<div class="landing-page-icons">
		<div id="yellowguy1">
			<%= image_tag("yellowguy1.png") %>
			1. List your shippable products
		</div>
		<div id="yellowguy2">
			<%= image_tag("yellowguy2.png") %>
			2. Deliver products to buyers
		</div>
		<div id="yellowguy3">
			<%= image_tag("yellowguy3.png") %>
			3. Get user feedback from Polymyr
		</div>
		<div id="yellowguy4">
			<%= image_tag("yellowguy4.png") %>
			4. Make better products
		</div>
	</div>
</div>
<div class="subtitle">Overview</div>
<div class="prelaunch-text">
	Polymyr is a feedback-driven marketplace where you can get the newest hardware before anyone else. If you provide quality product feedback, you get rewarded with cash. We deliver awesome products and help companies with real advice from real users. Enter your email and we'll let you know when we launch!
</div>
<div class="form-wrapper">

	<%= simple_form_for @prospect, html: { autocomplete: "off" } do |f| %>

		<div class="form-inputs">
			<%= f.input :email, placeholder: "Email" %>
		</div>

		<div class="form-actions">
	    <%= f.button :submit, "Get your invite now" %>
	  </div>
	<% end %>
</div>
<br />
<br />