<div class="container">
	<div class="dashboard">
		<div class="title"><%= @maker.company %></div>
		<% if @products.length == 0 %>
			<br />
			<div class="subtitle">Welcome to Polymyr!</div>
			<%= link_to "Add a product", new_product_path, class: "button" %>
		<% end %>
		<div class="dash-heading">My products</div>
		<ul class="product-listings">
			<%= render partial: "products/dash_product", collection: @active_products, as: :product %>
			<%= render partial: "products/dash_product", collection: @pending_products, as: :product %>
			<%= render partial: "products/dash_product", collection: @started_products, as: :product %>
			<%= render partial: "products/dash_product", collection: @past_products, as: :product %>
		</ul>
	</div>
</div>