<li class="dash-product">
	<% if !product.status %>
		<%= link_to product_build_path(:product, product_id: product.id) do %>
			<% if product.uploads.length == 0 %>
				<%= image_tag("image_not_found_small.png") %>
			<% else %>
				<%= image_tag product.uploads[0].image.url(:thumb) %>
			<% end %>
			<%= product.name %>
			<div class="dash-button">Edit</div>
		<% end %>
	<% else %>
		<%= link_to dash_path(product) do %>
			<% if product.uploads.length == 0 %>
				<%= image_tag("image_not_found_small.png") %>
			<% else %>
				<%= image_tag product.uploads[0].image.url(:thumb) %>
			<% end %>
			<%= product.name %>
			<div class="dash-button">Reviews</div>
		<% end %>
	<% end %>
</li>

