<li class="product-card">
	<%= link_to product do %>
		<%= image_tag product.image1.url(:medium) %>
		<div class="product-card-info">
			<div class="product-card-name"><%= product.name %></div>
			<div class="product-card-company"><%= product.maker.company %></div>
			<div class="product-card-des"><%= product.description %></div>
			<div class="product-card-price">$<%= product.price - product.rebate %></div>
		</div>
	<% end %>
</li>