<div class="form-wrapper product-form">
	
	<h2>Edit your product</h2>

	<hr>

	<%= simple_form_for @product do |f| %>

		<div class="form-inputs">
			<%= f.input :image1, as: :file, label: "Main image" %>
			<%= f.input :image2, as: :file, label: "Image 2" %>
			<%= f.input :image3, as: :file, label: "Image 3" %>
			<%= f.input :image4, as: :file, label: "Image 4" %>
			<%= f.input :image5, as: :file, label: "Image 5" %>
			<%= f.input :name, label: "Product name" %>
			<%= f.input :description, label: "One-line description" %>
			<%= f.input :price, label: "Full price" %>
			<%= f.input :rebate %>
			<%= f.input :quantity %>
			<%= f.input :story %>
			<%= f.input :q1 %>
			<%= f.input :q2 %>
			<%= f.input :q3 %>
			<%= f.input :q4 %>
			<%= f.input :q5 %>
			<%= f.input :q6 %>
			<%= f.input :q7 %>
			<%= f.input :q8 %>
			<%= f.input :q9 %>
			<%= f.input :q10 %>
			<%= f.input :q11 %>
			<%= f.input :q12 %>
			<%= f.input :q13 %>
			<%= f.input :q14 %>
			<%= f.input :q15 %>
			<%= f.input :q16 %>
			<%= f.input :q17 %>
			<%= f.input :q18 %>
			<%= f.input :q19 %>
			<%= f.input :q20 %>
		</div>

		<div class="form-actions">
	    <%= f.button :submit, "Submit" %>
	  </div>
	<% end %>

	<%= link_to "Delete", @product, method: :delete,
	                                data: { confirm: "You sure?" } %>
</div>