<div class="product">
	<div class="row">

		<div class="col-7">
			<div id="product-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">

			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			  	<% if @product.uploads.length > 0 %>
				    <li data-target="#product-carousel" data-slide-to="0" class="active"></li>
				  <% end %>
				  <% for i in 1..@product.uploads.length - 1 %>
				    <li data-target="#product-carousel" data-slide-to=<%= i %>></li>
				  <% end %>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			  	<% if @product.uploads.length > 0 %>
				    <div class="item active">
				      <%= image_tag @product.uploads[0].image.url(:large) %>
				    </div>
				  <% end %>
			  	<% for i in 1..@product.uploads.length - 1 %>
				    <div class="item">
				      <%= image_tag @product.uploads[i].image.url(:large) %>
				    </div>
				  <% end %>
			  </div>
			</div>
		</div>

		<div class="col-2">
			<ul class="thumbnails">
				<% for i in 0..@product.uploads.length - 1 %>
					<li><%= image_tag @product.uploads[i].image.url(:thumb), class: "selected", 'data-target' => "#product-carousel", 'data-slide-to' => i %></li>
				<% end %>
			</ul>
		</div>

		<div class="col-3 overview">
			<div class="product-show-name"><%= @product.name if @product.name.present? %></div>
			<div class="product-show-maker"><%= @product.maker.company if @product.maker.company.present? %></div>
			<div class="product-show-desc"><%= @product.description if @product.description.present? %></div>
			<div class="product-show-price"><%= '$' + (@product.price - @product.rebate).to_s if @product.price.present? && @product.rebate.present? %></div>
			<div class="product-show-price-reg"><%= 'Regular price: $' + @product.price.to_s if @product.price.present? %></div>
			<ul>
				<li>Free shipping</li>
				<li>Available in the U.S.</li>
			</ul>

			<% if user_signed_in? %>
				<%= link_to "Buy now", "#payment", "data-toggle" => "modal", class: "payment-btn" %>
				<%= render "charges/payment_modal" %>
			<% end %>
		</div>
	</div>
	<br />
	<h3>Description</h3>
	<h5>
		<%= sanitize @product.story %>
	</h5>
	<br />
</div>
