<div class="product">
	<div class="row">

		<% image2 = @product.image2.exists? %>
		<% image3 = @product.image3.exists? %>
		<% image4 = @product.image4.exists? %>
		<% image5 = @product.image5.exists? %>

		<div class="col-8">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">

			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			  	<% if image2 || image3 || image4 || image5 %>
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				  <% end %>
				  <% if image2 %>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				  <% end %>
				  <% if image3 %>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  <% end %>
				  <% if image4 %>
				    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
				  <% end %>
				 	<% if image5 %>
				    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
				  <% end %>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div class="item active">
			      <%= image_tag @product.image1.url(:large) %>
			    </div>
			    <% if image2 %>
				    <div class="item">
				    	<%= image_tag @product.image2.url(:large) %>
				    </div>
				   <% end %>
			    <% if image3 %>
				    <div class="item">
				    	<%= image_tag @product.image3.url(:large) %>
				    </div>
				   <% end %>
			    <% if image4 %>
				    <div class="item">
				    	<%= image_tag @product.image4.url(:large) %>
				    </div>
				   <% end %>
			    <% if image5 %>
				    <div class="item">
				    	<%= image_tag @product.image5.url(:large) %>
				    </div>
				   <% end %>
			  </div>
			</div>

			<ul class="thumbnails">
				<% if image2 || image3 || image4 || image5 %>
					<li data-target="#carousel-example-generic" data-slide-to="0"><%= image_tag @product.image1.url(:thumb), class: "image1 selected" %></li>
				<% end %>
				<% if image2 %>
					<li data-target="#carousel-example-generic" data-slide-to="1"><%= image_tag @product.image2.url(:thumb), class: "image2" %></li>
				<% end %>
				<% if image3 %>
					<li data-target="#carousel-example-generic" data-slide-to="2"><%= image_tag @product.image3.url(:thumb), class: "image3" %></li>
				<% end %>
				<% if image4 %>
					<li data-target="#carousel-example-generic" data-slide-to="3"><%= image_tag @product.image4.url(:thumb), class: "image4" %></li>
				<% end %>
				<% if image5 %>
					<li data-target="#carousel-example-generic" data-slide-to="4"><%= image_tag @product.image5.url(:thumb), class: "image5" %></li>
				<% end %>
			</ul>
		</div>

		<div class="col-4">
			<h1><%= @product.name %></h1>
			<h4><%= @product.description %></h4>
			<h3>$<%= @product.price - @product.rebate %></h3>
			<div>Regular price: $<%= @product.price %></div>
			<ul class="overview">
				<li>Free shipping</li>
				<li>Available in the U.S.</li>
			</ul>
			<h5><%= link_to "Edit", edit_product_path(@product) %></h5>
			<h5><%= link_to "Delete", @product, method: :delete,
                                       data: { confirm: "You sure?" } %></h5>
     
			<%= link_to "Buy now", "#payment", "data-toggle" => "modal" %>
			<%= render "charges/payment_modal" %>

			<%= form_tag charges_path do %>
			  <article>
			    <% if flash[:error].present? %>
			      <div id="error_explanation">
			        <p><%= flash[:error] %></p>
			      </div>
			    <% end %>
			  </article>

			  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
			          data-description="Thanks for your support!"
			          data-amount=<%= @product.price * 100 %>
			          data-locale="auto"
			          
			          data-email=<%= current_user.email %>
			          data-label="Buy with card"
			          data-allow-remember-me=false>
			  </script>

			  <input type="hidden" name="product_id" value="<%= @product.id %>" readonly>       
			<% end %>

		</div>
	</div>
	<hr>
	<h2>The Story</h2>
	<h4>
		<%= sanitize @product.story %>
	</h4>
	<br />
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey("<%= Rails.configuration.stripe[:publishable_key] %>");
</script>
<script>
	$(function() {
	  var $form = $('#payment-form');
	  $form.submit(function(event) {
	    // Disable the submit button to prevent repeated clicks:
	    $form.find('.submit').prop('disabled', true);

	    // Request a token from Stripe:
	    Stripe.card.createToken($form, stripeResponseHandler);

	    // Prevent the form from being submitted:
	    return false;
	  });
	});

	function stripeResponseHandler(status, response) {
	  // Grab the form:
	  var $form = $('#payment-form');

	  if (response.error) { // Problem!

	    // Show the errors on the form:
	    $form.find('.payment-errors').text(response.error.message);
	    $form.find('.submit').prop('disabled', false); // Re-enable submission

	  } else { // Token was created!

	    // Get the token ID:
	    var token = response.id;

	    // Insert the token ID into the form so it gets submitted to the server:
	    $form.append($('<input type="hidden" name="stripeToken">').val(token));

	    // Submit the form:
	    $form.get(0).submit();
	  }
	};
</script>