<div class="product">
	<div class="row">
		<div class="col-6">
			<%= image_tag @product.image1.url(:large) %>
		</div>
		<div class="col-2">
			<ul class="thumbnails">
				<li><%= image_tag @product.image1.url(:thumb) %></li>
				<li><%= image_tag @product.image2.url(:thumb) %></li>
				<li><%= image_tag @product.image3.url(:thumb) %></li>
				<li><%= image_tag @product.image4.url(:thumb) %></li>
				<li><%= image_tag @product.image5.url(:thumb) %></li>
			</ul>
		</div>
		<div class="col-4">
			<div><%= @product.name %></div>
			<div>Price if you review the product: $<%= @product.price - @product.rebate %></div>
			<div>Full price: $<%= @product.price %></div>
		</div>
	</div>
</div>