<nav class="nav">
	<div class="logo"><a href=<%= root_path %>>POLYMYR</a></div>
	<ul class="menu">
		<li><a href="http://www.polymyr.com/blog">Blog</a></li>
		<% if user_signed_in? %>
			<li><%= link_to "Profile", current_user %></li>
			<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
		<% elsif maker_signed_in? %>
			<li><%= link_to "Launch Product", new_product_path %></li>
			<li><%= link_to "Dashboard", current_maker %></li>
			<li><%= link_to "Log out", destroy_maker_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Makers", new_maker_registration_path %></li>
			<li><%= link_to "Sign in", "#signin", "data-toggle" => "modal" %></li>
		<% end %>
		<li class="icon"><a href="#"><i class="fa fa-bars fa-lg"></i></a></li>
	</ul>
</nav>