<nav class="nav">
	<div class="logo"><a href=<%= user_root_path %>>POLYMYR</a></div>
	<ul class="menu">
		<li>
			<%= form_for :search, url: search_path, method: :get, html: { class: "search-form" } do |f| %>
			    <%= text_field_tag :query, params[:query], id: "search-bar" %>
			    <button type="submit" id="search-btn">
					  <i class="fa fa-search" aria-hidden="true"></i>
					</button>
			<% end %>
			<div style="clear: both;"></div>
		</li>
		<li><%= link_to "Profile", current_user %></li>
		<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
	</ul>
</nav>