<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="The first ever feedback-driven marketplace for incredible hardware products.">
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey("<%= Rails.configuration.stripe[:publishable_key] %>");
    </script>
    <%= render 'favicon' %>
  </head>
  <body>
    <%= render 'layouts/messages' %>
    <%= render 'layouts/prelaunch_header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>